themes {
  kanagawa {
    fg "#DCD7BA"
      bg "#1F1F28"
      red "#C34043"
      green "#76946A"
      yellow "#FF9E3B"
      blue "#7E9CD8"
      magenta "#957FB8"
      orange "#FFA066"
      cyan "#7FB4CA"
      black "#16161D"
      white "#DCD7BA"
  }
}

theme "kanagawa"
default_layout "compact"
pane_frames false
copy_on_select true

keybinds {
  normal {
    bind "Alt 1" { GoToTab 1; }
    bind "Alt 2" { GoToTab 2; }
    bind "Alt 3" { GoToTab 3; }
    bind "Alt 4" { GoToTab 4; }
    bind "Alt 5" { GoToTab 5; }
    bind "Alt 6" { GoToTab 6; }
    bind "Alt 7" { GoToTab 7; }
    bind "Alt 8" { GoToTab 8; }
    bind "Alt 9" { GoToTab 9; }
  }
}
