@import "colors.css";

* {
  border: none;
  border-radius: 0px;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 16px;
  min-height: 0;
  padding: 0;
  margin: 0;
}

window#waybar {
  background: transparent;
}

.modules-center {
  background: @on_primary_fixed;
  padding: 6px 12px;
  border-radius: 28px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

#workspaces {
  background: transparent;
  padding: 0;
  margin: 0 10px 0 10px;
  border: none;
  box-shadow: none;
}

#workspaces button {
  padding: 0 6px;
  margin: 0 2px;
  border-radius: 16px;
  color: @primary_container;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  background: linear-gradient(135deg, @primary 0%, @secondary 50%, @tertiary 100%);
  color: @on_primary_fixed;
  min-width: 40px;
  transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
  color: white;
}

#workspaces button.urgent {
  background-color: @error_container;
  color: @on_primary_fixed;
}

#clock {
  color: @primary;
  margin: 0;
}

#network {
  color: @surface_tint;
  margin: 0 10px 0 0;
}

#battery {
  color: @secondary;
  margin: 0 10px 0 0;
}
#wireplumber{
  color: @outline;
  margin: 0 10px 0 0;
}
