/* @import "colors/colors.css" */

* {
  border: none;
  border-radius: 0px;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 16px;
  min-height: 0;
  padding: 0;
  margin: 0;
}

window#waybar {
  background: transparent;
}

.modules-center {
  background: black;
  padding: 6px 12px;
  border-radius: 28px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

#workspaces {
  background: transparent;
  padding: 0;
  margin: 0 10px 0 10px;
  border: none;
  box-shadow: none;
}

#workspaces button {
  padding: 0 6px;
  margin: 0 2px;
  border-radius: 16px;
  color: #444444;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  background: linear-gradient(135deg, #0000ff 0%, #ff00ff 50%, #ff0000 100%);
  color: black;
  min-width: 40px;
  transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
  color: white;
}

#workspaces button.urgent {
  background-color: #ff0000;
  color: black;
}

#clock {
  color: white;
  margin: 0;
}

#network {
  color: #00ff00;
  margin: 0 10px 0 0;
}

#battery {
  color: #ff0000;
  margin: 0 10px 0 0;
}
#wireplumber{
  color: #00ffff;
  margin: 0 10px 0 0;
}
