* {
  all: unset;
  border: none;
  border-radius: 0;
  font-family: Jetbrains Mono Bold;
  font-size: 24px;
  color: #CCCCCC;
}

window#waybar>box {
  background: rgba(0, 0, 0, 0.85);
}

#tray,
#pulseaudio,
#clock,
#network {
  margin: 6px;
}

#window {
  color: #CCCCCC;
}

#workspaces button {
  padding-right: 10px;
}

#clock {
  font-weight: 600;
}