input {
    keyboard {
        xkb {
            layout "us"
            variant "altgr-intl"
        }
    }

    touchpad {
        natural-scroll
        accel-speed 0
        scroll-factor 0.5
    }

    trackpoint {
        off
    }

    touch {
        off
    }
}
