window-rule {
    geometry-corner-radius 2
    clip-to-geometry true
    open-floating true
}

window-rule {
    match app-id="com.mitchellh.ghostty"
    open-floating false
}

window-rule {
    match app-id="firefox"
    open-floating false
}

// Open the Firefox picture-in-picture player as floating by default.
// window-rule {
//     match app-id=r#"firefox$"# title="^Picture-in-Picture$"
//     open-floating true
//     geometry-corner-radius 32
//     clip-to-geometry true
// }
