format = """
$kubernetes\
$git_status\
$git_branch \
$git_state\
$git_commit\
$username\
$hostname\
$directory\
$fill\
$terraform\
$bun\
$elixir\
$golang\
$python\
$rust\
$cmd_duration\
$battery\
$line_break\
$character"""

[kubernetes]
disabled = false
format = '[$symbol$context( \($namespace\))]($style) '

[git_status]
deleted = "-"
stashed = "≡"

[git_branch]
format = "(grey)[ $branch](purple)"
style = "bright-black"

[git_state]
format = '\([$state( $progress_current/$progress_total)]($style)\) '
style = "bright-black"

[git_commit]
only_detached = false
commit_hash_length = 10

[directory]
style = "blue"

[python]
format = '[Python ${pyenv_prefix}(${version} )(\($virtualenv\) )]($style)'

[cmd_duration]
format = "[$duration]($style) "
style = "yellow"

[character]
success_symbol = "[❯](blue)"
error_symbol = "[❯](red)"
vimcmd_symbol = "[❮](green)"
