theme = "catppuccin_macchiato"

[editor]
line-number = "relative"
mouse = false
bufferline = "multiple"
# color-modes = true
cursorline = true

[editor.auto-pairs]
'(' = ")"
'{' = "}"
'[' = "]"
'"' = '"'
# '`' = '`'
'<' = ">"

[editor.cursor-shape]
insert = "bar"
select = "underline"

[editor.inline-diagnostics]
cursor-line = "hint"

[editor.lsp]
display-inlay-hints = true
display-progress-messages = true

[editor.statusline]
left = ["mode", "version-control", "spinner"]
center = ["read-only-indicator", "file-name"]
right = ["diagnostics", "selections", "position", "file-type", "file-encoding"]

[editor.statusline.mode]
normal = "Normal"
insert = "Insert"
select = "Select"

[editor.word-completion]
trigger-length = 3

[keys.normal]
tab = ":buffer-next"
S-tab = ":buffer-previous"
space.v = "vsplit"
space.h = "hsplit"
# Print the current line's git blame information to the statusline
space.B = ":echo %sh{git blame -L %{cursor_line},+1 %{buffer_name}}"
C-h = "jump_view_left"
C-j = "jump_view_down"
C-k = "jump_view_up"
C-l = "jump_view_right"
