[language-server.uwu_colors]
command = "uwu_colors"

[[language]]
name = "elixir"
auto-format = true
formatter = { command = "mix", args = ["format", "-"] }

[[language]]
name = "toml"
auto-format = true
language-servers = ["tombi", "uwu_colors"]
