# [language-server.scls]
# command = "simple-completion-language-server"

# [language-server.scls.config]
# max_completion_items = 20

# [[language]]
# name = "stub"
# scope = "text.stub"
# file-types = []
# shebangs = []
# roots = []
# auto-format = false
# language-servers = ["scls"]

[[language]]
name = "nix"
formatter = { command = "nixfmt" }
auto-format = true

[language-server.tailwindcss-ls]
command = "tailwindcss-language-server"
config = { userLanguages = { templ = "html" } }
args = ["--stdio"]

[[language]]
name = "css"
language-servers = ["vscode-css-language-server", "tailwindcss-ls"]

[[language]]
name = "html"
language-servers = ["vscode-html-language-server", "tailwindcss-ls"]

[[language]]
name = "toml"
auto-format = true
formatter = { command = "taplo", args = ["format", "-"] }
language-servers = ["scls"]

[[language]]
name = "javascript"
formatter = { command = 'deno', args = ["fmt", "-", "--ext", "js"] }
auto-format = true

[[language]]
name = "templ"
auto-format = true
language-servers = ["templ", "tailwindcss-ls"]

[[language]]
name = "svelte"
auto-format = true
language-servers = ["svelteserver", "tailwindcss-ls"]

[[language]]
name = "typescript"
formatter = { command = 'deno', args = ["fmt", "-", "--ext", "ts"] }
auto-format = true

[[language]]
name = "yaml"
formatter = { command = "prettierd", args = [".yaml"] }
auto-format = true

[language-server.golangci-lint-lsp.config]
command = [
  "golangci-lint-langserver",
  "run",
  "--out-format",
  "json",
  "--issues-exit-code=1",
]

[[language]]
name = "json"
formatter = { command = 'biome', args = ["format", "--stdin-file-path", "buffer.json"] }
auto-format = true

[[language]]
name = "jsonc"
formatter = { command = 'biome', args = ["format", "--stdin-file-path", "buffer.jsonc"] }
auto-format = true

[[language]]
name = "templ"
auto-format = true
formatter = { command = "templ", args = ["fmt"] }

[[language]]
name = "go"
auto-format = true
formatter = { command = "gofumpt" }

[[language]]
name = "hcl"
language-servers = ["terraform-ls"]
language-id = "terraform"

[[language]]
name = "tfvars"
auto-format = true
language-servers = ["terraform-ls"]
language-id = "terraform-vars"

[language-server.terraform-ls]
command = "terraform-ls"
args = ["serve"]
# config.indexing.ignorePaths = ["ignore.hcl"]

[language-server.lexical]
command = "lexical"

[[language]]
name = "elixir"
formatter = { command = "mix", args = ["format", "-"] }
auto-format = true
language-servers = ["lexical"]

[[language]]
name = "heex"
language-servers = ["lexical"]
